.spinner {
  margin: 100px auto;
  width: 120px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #990000;
  height: 100%;
  width: 10px;
  display: inline-block;
  margin: 2px;
  -webkit-animation: sk-stretchdelay 2s infinite ease-in-out;
  animation: sk-stretchdelay 2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect8 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%,
	100% {
		transform: scaleY(2);
		background: #aaa;
	}
	16.67% {
		transform: scaleY(5);
		background: #aaa;
	}
	33.33% {
		transform: scaleY(2);
		background: #aaa;
	}
	50% {
		transform: scaleY(5);
		background: #aaa;
	}
	66.67% {
		transform: scaleY(2);
		background: #aaa;
	}
	83.34% {
		transform: scaleY(5);
		background: #aaa;
	}
}